@import "./Base/charte";
@import "./Utils/keyframes";
@import "./Utils/variables";
@import "./Utils/mixins";

* {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
/*loader*/
.container__load {
  position: fixed;
  /*remettre a 6.5 par défaut for 6 round by circle*/
  animation: anim-circle $anim-dur*6.5 cubic-bezier(.79,.01,1,1);
  z-index: -1000;
  opacity: 0;
  background-color: $color-neutral;
  width: 100%;
  height: 100%;
}
.load {
  width: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  @for $i from 1 through $num-circle {
    & > &__circle:nth-child(#{$i}) {
      animation-delay: $anim-delay * $i;
    }
  }
  &__circle {
    border: $width-spin $color-primary double;
    border-bottom-color: $color-secondary;
    border-top-color: $color-secondary;
    animation: spinner-back $anim-dur linear 6 alternate both;
  }
  &__circle:nth-child(1) {
    position: absolute;
    top:50px;
    left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  &__circle:nth-child(2) {
    position: absolute;
    top:25px;
    left: 25px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
  &__circle:nth-child(3) {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
}
/*header*/
.banner{
  display: flex;
  justify-content: center;
  &__icone {
    height: 100%;
    width: 25%;
    max-width:80px;
    margin-right: 25px;
    &--arrow {
      padding: 21px;
      color: $color-black;
    }
  }
  &__link {
    width: 70%;
    height: 100%;
    max-width: 250px;
  }
  &__logo {
    padding: $size-small 0; 
    width: auto;
    max-width: 100%;
    height: 60px;
  }
}
/*Pages Menu*/ 
.hightlight {
  margin-bottom: 0;
  &__photo {
  width: 100%;
  height: 270px;
  object-fit: cover;
  }
}
.section-card {
  @include bloc-background($color-shadow);
  font-family: $roboto;
  position: relative;
  margin-top: 0;
  display:  flex;
  flex-direction: column;
  align-items: center;
  &::before {
    @include pseudo-border($color-shadow);
    @include bloc-background($color-shadow);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
/*page accueil*/
/*section 1*/
.section1{
  font-family: $roboto;
}
.situation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-shadow-dark;
  height:50px;
  box-shadow: inset 0px 10px 6px -10px $color-accent;
  &__icones {
    display: inline-block;
    padding-bottom: 5px;
  }
  & input {
    background-color: $color-shadow-dark;
    border: none;
    font-size: $size-medium;
    width: 150px;
    margin-left: 20px;
    &::placeholder {
      color: $color-black;
      opacity: 1;
    }
  }
}
.explorer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 280px;
  @include bloc-background($color-shadow);
  &__title {
    width: 75%;
    margin-top: 0;
  }
  &__text {
    width:85%;
    font-weight: $size-thin;
    margin-top: 0;
  }
  &__btn {
    @include btn ($color-secondary-light);
    &--link {
      @include title-btn ($color-neutral);
    }
    &::after{
      opacity: 0;
      z-index: -1;
      border-radius: 40px;
      background-color: $color-secondary;
      @include pseudo-pos;
      @include shadow($color-accent);
    }
  }
}
.presentation {
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media all and (min-width: 768px) {
    align-items: center;
  }
  &__title {
    margin-left: 15px;
    width: auto;
  }
  &__section {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
    max-width: 500px;
    @media all and (min-width: 768px) {
      min-width: 500px;
    }
  }
}
.presentation__items {
  display: flex;
  align-items: center;
  border: 1px solid $color-shadow;
  height: 70px;
  padding: 0 35px;
  min-width: 90%;
  width: auto;
  @include curve-border($color-shadow-dark);
  @include bloc-background($color-shadow);
  @include shadow($color-shadow-dark);
  position: relative;
  z-index: 1;
  &:hover {
    &::after {
        opacity: 1;
    }
    & .presentation__items--icones {
      color: $color-primary;
    }
  }
  &::after {
    @include curve-border($color-shadow-dark);
    @include bloc-background-light($color-primary);
    z-index: -1;
    transition: opacity 300ms;
    opacity: 0;
    @include pseudo-pos;      
    }
  &--icones {
    color: $color-accent;
    margin-right: 30px;
    position: relative;
    z-index: 1;
  } 
  &--num {
    color: $color-neutral;
    background-color: $color-primary;
    text-align: center;
    padding: 2px;
    height: 22px;
    width: 22px;
    border-radius: 22px;
    position: absolute;
    left: -10px;
  }
}
/*section 2 restaurants*/
.section2{
  font-family: $roboto;
  @include bloc-background($color-shadow);
}
.restaurants {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  &__title {
    align-self: baseline;
    margin-left: 15px;
  }
  &__cardsection {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
  }
}
.card {
  overflow: hidden;
  width: 330px;
  height: 250px;
  @include curve-border($color-shadow);
  position: relative;
  background-color: white;
  margin-bottom:20px;
  &__img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center 60%;
    &--sticker {
      width: 85px;
      height: 30px;
      color: $color-tertiary-dark;
      padding: 5px 0 0 9px;
      background-color: $color-tertiary;
      @include curve-border($color-tertiary);
      position: absolute;
      right: 10px;
      top: 0;
    }
  }
  &__description {
    color:$color-black;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 12px;
    &--text {
      max-width: 165px;
      color:$color-black;
    }
    &--medium {
      font-weight: $gras;
      margin: 10px 0 -10px 0;
      /*ajouté pour cartes menu, si pas bon a enlever*/
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &--thin {
      font-weight: $size-thin;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &--icones {
      width: 40px;
      height: 40px;
      position: relative;
    }
  }
}
.like {
  @include heart-base;
  opacity: 1;
  border-bottom: 2px solid $color-black;
  border-right: 2px solid $color-black;
  top: 28px;
  right:25px;
  z-index: 3;
  transition: opacity $anim-dur;
  cursor: pointer;
    &::before {
      content: "";
      width: 10px;
      height:10px;
      position: absolute;
      border: 2px solid black;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 30%;
      border-bottom: none;
      top: -9px;
      left: 0px;
      z-index: 3;
    }
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      border: 2px solid black;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      border-top-right-radius: 30%;
      border-right: none;
      right: 9px;
      top: 0px;
      z-index: 3;
    }
  &:hover, 
  &:active {
    opacity: 0;
    + .like__bg {
      animation: heart-fill 1500ms forwards ease-in;
    }
  } 
  &__bg {
  @include heart-base;
  opacity: 0;
  z-index: 1;
  top: 28px;
  right: 25px;
  background: radial-gradient($color-primary, $color-secondary);
  &::before {
    background: linear-gradient($color-primary, 80%, $color-secondary);
    @include heart-rounds;
    left: -8px;
  }
  &::after {
    background: linear-gradient(80deg,$color-primary, 80%, $color-secondary);
    @include heart-rounds;
    top: -8px;
  }
  }
}
/*Pages Menu*/
.menu {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include title-shrikhand($color-black);
    max-width: 600px;
    width:95%;
  }
  &__section {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    @media all and (min-width: 768px) {
    }
  }
  &__title {
    &--text {
      @include title-text-menu;
      margin-top: 0;
      margin-bottom: 20px;
    }
    &--borderpart {
      @include text-underline($color-tertiary);
      padding-bottom: 4px;
    }
  }
  &__cardsection {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    @for $i from 1 through $num-cards {
      & .menu__card:nth-child(#{$i}) {
        animation-delay: $anim-cards-delay * $i;
      }
    }
  }
  &__card {
    @include curve-border($color-shadow);
    @include bloc-background($color-neutral);
    @include shadow($color-shadow-dark);
    display: flex;
    overflow: hidden;
    padding: 0 8px;
    height: 70px;
    opacity: 0;
    margin-bottom: $size-small;
    animation: card-display $anim-dur forwards ease-in-out;
    transform-origin: bottom;
    position: relative;
    cursor: pointer;
    &:hover,
    &:active {
      .menu__card--price {
        margin-right: 50px;
      }
      .menu__card--validation{
        transform: translateX(-100%);
      }
      .fa-check-circle {
        animation: check-round 600ms 400ms;
      }
    }
    &--text {
      flex: 1;
      width: 70%;
      height: auto;
      overflow: hidden;
    }
    &--validation {
      color: $color-neutral;
      background-color: $color-tertiary;
      width: 60px;
      text-align: center;
      padding-top: 24px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      position: absolute;
      right:0;
      top:0;
      bottom:0;
      opacity: 1;
      margin-right: -60px;
      transition: transform $anim-dur ease-in-out;
    }
    &--price {
      font-weight: $gras;
      width: 50px;
      height: auto;
      background-color: white;
      align-self: flex-end;
      @include bloc-background($color-neutral);
      transition: margin-right 900ms ease-in-out;
    }    
  }
}
.name {
  margin-top:0;
  font-size:1.6em;
}
.order {
  display: flex;
  justify-content: center;
  height: 140px;
  width: 100%;
  @include bloc-background($color-shadow);
}
/*footer */
.footer {
  height: 200px;
  background-color: $color-footer;
  font-family: $roboto;
  display: flex;
  flex-direction: column;
  &__title {
    @include title-shrikhand($color-neutral);
    max-width: 200px;
    margin: 0;
    padding: 20px 0 0 20px;
    font-size: $title-small;
    @media all and (min-width: 768px) {
      font-size: $title-medium;
    }
  }
  &__nav {
    padding-left: 20px;
  }
  &__items {
    max-width: 200px;
    margin-bottom: 5px;
    i {
      margin-right: 10px;
      width: 15px;
      height: 15px;
    }
    &--link {
      color: $color-neutral;
    }
  }
  @media all and (min-width: 768px) {
    align-items: center;
  }
}
