@import "./Base/charte";
@import "./Base/keyframes";
@import "./Utils/variables";
@import "./Utils/functions";
@import "./Utils/mixins";

* {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
/*loader*/
.load {
  width: $size-bar*10;
  height: $size-bar*7;
  display: flex;
  justify-content: space-evenly;
  &__bar {
    background-color: $color-tertiary;
    height: 100%;
    width: $size-bar;
    animation: bars $anim-dur backwards infinite ease-in-out alternate paused;
    /*paused le temps de terminer le style*/
    @for $i from 1 through $num-bars {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
  }
}
/*header*/
.banner{
  height: 60px;
  &__logo {
    padding: $size-small 0; 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/*section 1*/
.section1{
  font-family: $roboto;
}
.situation {
  text-align:center;
  background-color: $color-shadow-dark;
  height:50px;
  padding-top: $size-small;
  a {
    color: $color-black;
  }
  &--icones {
    margin-right: $size-small;
  }
}
.explorer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 290px;
  @include bloc-background($color-shadow);
  &__btn {
    @include btn ($color-secondary-light);
  }
}
.presentation {
  margin-left: 10px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__section {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.presentation__items {
  display: flex;
  align-items: center;
  border: 1px solid $color-shadow;
  height: 70px;
  width: 320px;
  padding-left: 35px;
  @include curve-border($color-shadow-dark);
  @include bloc-background($color-shadow);
  @include shadow($color-shadow-dark);
  cursor: pointer;
  position: relative;
  z-index: 1;
  &:hover {
    &::after {
        opacity: 1;
    }
  }
  &::after {
    @include curve-border($color-shadow-dark);
    @include bloc-background-light($color-primary);
    z-index: -1;
    transition: opacity 300ms;
    opacity: 0;
    @include pseudo-pos;      
    }
  &--icones {
    color: $color-accent;
    margin-right: 30px;
    position: relative;
    z-index: 1;
    &:hover {
      color: $color-primary;
    }
  } 
  &--num {
    color: $color-neutral;
    background-color: $color-primary;
    text-align: center;
    padding: 2px;
    height: 22px;
    width: 22px;
    border-radius: 22px;
    position: absolute;
    left: -10px;
  }
}
/*section 2 restaurants*/
.section2{
  font-family: $roboto;
  @include bloc-background($color-shadow);
}
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1200px;
  &__title {
    align-self: baseline;
  }
  &__cardsection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1070px;
  }
}
.card {
  overflow: hidden;
  width: 335px;
  height: 250px;
  @include curve-border($color-shadow);
  position: relative;
  background-color: white;
  &__img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center 60%;
    &--sticker {
      width: 85px;
      height: 30px;
      color: rgb(68, 131, 103);
      padding: 5px 0 0 9px;
      background-color: $color-tertiary;
      @include curve-border($color-tertiary);
      position: absolute;
      right: 10px;
      top: 0;
    }
  }
  &__description {
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 12px;
    &--text {
      max-width: 165px;
    }
    &--medium {
      font-weight: $gras;
      margin: 10px 0 -10px 0;
    }
    &--icones {
      width: 30px;
      height: 30px;
      padding-top: 15px;
      position: relative;
    }
  }
}
.like {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 1800ms ease-in-out;
  &:hover {
    opacity: 0;
    + .like__bg {
      animation: heart-fill 2s forwards ease-in-out;
      transform-origin: top;
    }
  }
  &__bg {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 8px;
  }
}
.like__bg-items {
  @include heart-base;
  background: radial-gradient($color-primary, $color-secondary);
  &::before {
    background: linear-gradient($color-primary, 80%, $color-secondary);
    @include heart-rounds;
    left: -10px;
  }
  &::after {
    background: linear-gradient(80deg,$color-primary, 80%, $color-secondary);
    @include heart-rounds;
    top: -10px;
  }
}
/*footer */
.footer {
  height: 190px;
  background-color: $color-footer;
  font-family: $roboto;
  display: flex;
  flex-direction: column;
  &__title {
    @include title-shrikhand($color-neutral);
    max-width: 200px;
    margin: 0;
    padding: 20px 0 0 40px;
  }
}
.menu__items {
  max-width: 200px;
  margin-bottom: 5px;
  &--link {
    color: $color-neutral;
  }
}
