@keyframes bars {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1.0);
  }
}
@keyframes heart-fill {
  0% {
    transform: scaleY(0.1), rotate(45deg);
    opacity: .10;
  }
  100% {
    transform: scaleY(1), rotate(45deg);
    opacity: 1;
  }
}