@keyframes bars {
  0% {
    transform: scaleY(0.3);
    opacity: 1;
  }
  100% {
    transform: scaleY(1.0);
    opacity: 1;
  }
}
@keyframes anim-bars {
  0% {
    z-index: 1000;
  }
  100% {
    z-index: 1000
  }
}
@keyframes heart-fill {
  0% {
    transform: scaleY(0.1), rotate(45deg);
    opacity: .10;
  }
  100% {
    transform: scaleY(1), rotate(45deg);
    opacity: 1;
  }
}
@keyframes card-display  {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes card-shrink {
  0% {
    width: 50px
  }
  100% {
    width: 100px;
  }
}
@keyframes card-validation {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes check-round {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes btn-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: .7;
  }
}
@keyframes btn-active {
  from {
    transform: scale(0);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 0.8;
  }
}