@keyframes bars {
  0% {
    transform: scaleY(0.3);
    opacity: 1;
  }
  100% {
    transform: scaleY(1.0);
    opacity: 1;
  }
}
@keyframes anim-bars {
  0% {
    z-index: 1000;
  }
  100% {
    z-index: 1000
  }
}
@keyframes heart-fill {
  0% {
    transform: scaleY(0.1), rotate(45deg);
    opacity: .10;
  }
  100% {
    transform: scaleY(1), rotate(45deg);
    opacity: 1;
  }
}
@keyframes card-display  {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes card-shrink {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes card-validation {
  0% {
    transform: translate(0%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0);
    opacity: 1;
  }
}