
@keyframes spinner-back {
  0% {
    transform:rotate(0deg) scale(0) ;
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg) scale(.5) ;
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg) scale(1) ;
    opacity: 1;
  } 
}
@keyframes anim-circle {
  0% {
    z-index: 1000;
    opacity: 1;
  }
  100% {
    z-index: 1000;
    opacity: 0.8;
  }
}
@keyframes heart-fill {
  0% {
    transform: scale(0.5) rotate(45deg);
    opacity: .10;
  }
  100% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
}
@keyframes card-display  {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes check-round {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes btn-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: .7;
  }
}
@keyframes btn-active {
  from {
    transform: scale(0);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 0.4;
  }
}