/*backgrounds*/
@mixin bloc-background($color) {
  background-color: ($color);
}
@mixin bloc-background-light($color) {
  background-color: lighten($color, 30%);
}
@mixin shadow($color) {
  box-shadow: 3px 4px 6px ($color), -1px -2px 12px ($color);
}
/*color*/
@mixin clr-radiant {
  background: linear-gradient(355deg,$color-primary 0%, $color-secondary 90%);
}
/*polices*/
@mixin title-shrikhand($color) {
  color: $color;
  font-family: $shrikhand;
  font-size: $size-small;
}
@mixin title-btn($color){
  height: 30px;
  color: $color;
  text-align: center;
  font-size: $size-small;
}
 @mixin title-text-menu {
  text-transform: uppercase;
  font-weight: lighter;
 }
 @mixin text-underline($color){
   border-bottom: 2px solid $color;
 }
/*boutons*/
@mixin btn($color) {
  cursor: pointer;
  color: $color-neutral;
  border: 1px solid $color-shadow;
  border-radius: 40px;
  height: 50px;
  width: 200px;
  padding-top: $padding-btn;
  font-family: $roboto;
  text-align: center;
  @include clr-radiant;
  @include shadow($color-shadow-dark);
  transition: box-shadow 1000ms 300ms ease-in-out, background-color 1300ms ease-in-out;
  &:hover {
    background: none;
    @include shadow($color-accent);
    background-color: $color;
  }
}
/*mixi pour creer contenu before ou after*/
@mixin pseudo-pos {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@mixin pseudo-border($color){
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
}
@mixin pseudo-pos-full($content) {
  content: "#{$content}";
  position: absolute;
  left: -20px;
}
/*styles*/
@mixin curve-border($color){
  border: 1px solid $color;
  @if ($color) == $color-tertiary {
    border-radius: 2px;
  }
  @else {
  border-radius: 20px;
  }
}
@mixin margin-menu {
  margin: auto 15px;
}
/*icones*/
@mixin heart-base {
  height: 14px;
  width: 14px;
  position: absolute;
  transform: rotate(45deg);
}
@mixin heart-rounds {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  /*add side position*/
}