
$color-primary: #9356DC;
$color-primary-light: rgba(147, 86, 220, 0.5);
$color-secondary: #FF79DA;
$color-secondary-light: rgba(255, 121, 218, 0.5);
$color-tertiary:  #99E2D0;
$color-tertiary-dark:  rgb(68, 131, 103);
$color-neutral: white;
$color-black: black;
$color-shadow: rgb(246, 246, 246);
$color-shadow-dark: rgb(234 234 234);
$color-accent: rgb(125, 125, 125);
$color-footer: rgb(53, 53, 53);
/*font variables*/
$roboto: 'Roboto',Arial, Georgia,sans-serif;
$shrikhand: 'Shrikhand', cursive, Arial, Georgia,sans-serif;
/*size variables*/
$size-small: 15px;
$size-medium:17px;
$size-bar: 4vh;
$gras: 700;
$size-stickers: 500;
$size-thin: 300;
/*padding*/
$padding-icones: 10px 10px 20px 0;
$padding-btn: 13px;
/*durées*/
$anim-dur: 1000ms;
/*varaibles pour loader*/
$num-bars: 5;
$anim-delay: $anim-dur / $num-bars;
$num-cards: 4;
$anim-cards-delay: $anim-dur / $num-cards;
$width-spin: 10px;
$num-circle: 3;
/*variables icones*/
$side-top: top;
$side-bottom: bottom;
$side-left: left;
/*test*/
$content: "...";


